// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.large-box {

	height: 300px;
	border: 1px solid black;


}

.data-fields {

	height: 80%;
	border: 1px solid black;

}